* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: 1s ease-in 0s 1 slideIn;
}
/* 
@keyframes slideIn {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  } */

.header {
    height: 8vh;
    width: 77vw;
    background-color: rgb(0, 40, 114);
    margin: 5px;
    box-shadow: 0px 3px 10px #9b9797;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    font-family: 'Rubik';
    color: white;
    font-weight: 900;
    text-align: center;
}

.result {
    font-family: 'Rubik';
    color:  rgb(0, 40, 114);
    font-size: 150px;
    font-weight: bold;
    text-align: center;
}

.board {
    height: 60vh;
    width: 75vw;
    background-color: cornflowerblue;
    margin: 5px;
    box-shadow: 0px 3px 10px #9b9797;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.name {
    width: 15vw;
    height: 6vh;
    background-color: rgb(0, 40, 114);
    margin: 10px;    
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name h2 {
    font-family: 'Rubik';
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.score {
    width: 15vw;
    height: 35vh;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.btn-container {
    width: 15vw;
    height: 15vh;
    /* background-color: yellow; */
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.btn-func {
    width: 80px;
    height: 80px;
    /* background-color: white; */
    border-radius: 100%;
    /* background-repeat: no-repeat; */
}

#plus {
    background-image: url("./img/plus.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#minus {
    background-image: url("./img/minus.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#reset {
    background-image: url("./img/restart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
}


.team1 {
    width: 20vw;
    height: 60vh;
    /* background-color: white; */
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.team2 {
    width: 20vw;
    height: 60vh;
    /* background-color: white; */
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;


}

.info {
    width: 25vw;
    height: 60vh;
    /* background-color: white; */
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

#wrap-time {
    width: 25vw;
    height: 25vh;
    /* background-color: yellow; */
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

#timer {
    width: 20vw;
    height: 10vh;
    /* background-color: rgb(118, 34, 214); */
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#stop {
    background-image: url("./img/stop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#restart{
    background-image: url("./img/restart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
}

.timer-panel{
    width: 5vw;
    height: 11vh;
    background-color: white;
    margin: 4px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator {
    margin: 10px;
}

.num {
    font-family: 'Rubik';
    color:  rgb(0, 40, 114);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

#btn-time {
    width: 10vw;
    height: 10vh;
    /* background-color: rgb(118, 34, 214); */
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#wrap-period {
    width: 25vw;
    height: 20vh;
    /* background-color: yellow; */
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.prd-btn-chg {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 100%;
    /* background-repeat: no-repeat; */
}

#btn-period1 {
    background-image: url("./img/minus.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
}

#btn-period2 {
    background-image: url("./img/plus.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110%;
}

#period-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prd-panel {
    width: 4.2vw;
    height: 11vh;
    background-color: white;
    margin: 4px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-period{
    font-family: 'Rubik';
    color:  rgb(0, 40, 114);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}